{{#each this}}
<li class="gallery__item">
    <img src="{{webformatURL}}" alt="{{tags}}" class="photocard__img" loading="lazy" width="360px">
    <p>L <span>{{likes}}</span> V <span>{{views}}</span> C <span>{{comments}}</span> D <span>{{downloads}}
</span></p>
</li>
{{/each}}
