{{#each this}}
    <li class="gallery__item">
        <a href="{{largeImageURL}}">
            <img src="{{webformatURL}}" alt="{{tags}}" class="photocard__img" loading="lazy" width="340px" />
        </a>
        <div class="photocard__detail">
            <p>
                Likes:
                <span class="photocard__totals">{{likes}}</span>
                Views:
                <span class="photocard__totals">{{views}}</span>                
                Commnts:
                <span class="photocard__totals">{{comments}}</span>                
                Downlds:
                <span class="photocard__totals">{{downloads}}</span>               
            </p>
        </div>
    </li>
{{/each}}
